
.buttons {
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    font-family: monospace;
    text-transform: uppercase;
    background-color: rgb(247, 234, 164);

    &:hover{
        background-color: rgb(255, 232, 101);
        cursor: pointer;
    }
}


.buttons:last-child {
    background-color: rgb(255, 232, 101);

    &:hover{
        background-color: rgb(247, 234, 164);
        cursor: pointer;
    }
}